numpy>=2.0.0
classconfig~=1.0.15
pydantic>=2.0.0
json-repair
python-dotenv
ollama>=0.6.0
openai>=2.8.0
gliner
spacy~=3.8.11
corpy~=0.6.1
fastopic~=1.0.1
topmost~=1.0.2
pytest
pytest-mock
torch
sentence-transformers~=5.1.2
stop-words~=2025.11.4
ollama~=0.6.1
json-repair~=0.54.2
numpy~=2.3.5
pytest-asyncio
